.ThreadHome {
  text-align: center;
  background-color: #B5C0D0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dapp {
  background-color: #B5C0D0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 21px 400px;
}

/* https://colorhunt.co/palette/b3c8cfbed7dcf1eedce5ddc5 */
